.header {
  display: flex;
  justify-content: center;
  margin-left: 235px;
  padding: 10px 10px 10px 10px;

  background: linear-gradient(to bottom, rgb(244, 255, 255) 0%, rgb(173, 216, 230) 100%);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}
